@using TimeTracker.Web.Models;

@model UserModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RoleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleName)
    </div>
</fieldset>
<p>
    @if (User.IsInRole("admin")) {
    <text>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
