@using TimeTracker.Web.Models;

@model IEnumerable<UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("admin")) {
    <text>
        @Html.ActionLink("Create New", "Create")
    </text>
    }
</p>


@if (Model.Any()) {
    
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>
    @foreach (UserModel item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (User.IsInRole("admin")) {
            <text>
                | @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </text>
            }
        </td>
    </tr>
    }

</table>
    
} else {
    <text>no items beside you</text>
}
